.App {
  text-align: center;
  margin-top: 200px;
}

.weather-card{
  width: 220px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.weather-cards{
  margin: 50px 0px 0px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
}

button{
  padding: 12px 15px;
  background-color:forestgreen;
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 8px;
}

input{
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
}
input:focus{
  outline: none;
  
}